<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/font-sware">
    <link rel="stylesheet" type="text/css" href="css/lab13.css">

</head>